//linea de comentario para sass

@import "utilidades/variables";
@import "html/menu";
@import "utilidades/mixin";
@import "utilidades/extend";

/* Celulares */
@media only screen and (max-width: 600px) {
    body{
        header{
        }
        main{
        }
        footer{           
        }
    }
  }
  
/*Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body{
        header{
        }
        main{
        }
        footer{           
        }
    }
}
  
/* PC */
@media only screen and (min-width: 1025px) {
    body{
        header{
        }
        main{
        }
        footer{           
        }
    }
}



body{
    font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        justify-content: center;
        background-color:antiquewhite;
}

header{
    background: linear-gradient(to left, $color-inicial, $color-final);
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    li{
        margin-bottom: 13%;
    }
    .MenuNav{
        display: flex;
        justify-content: flex-end;
        .navbar-nav {
            display: flex;
            gap: 15px; 
        }
    
        .nav-item {
            margin-right: 5px; 
            padding: 0 10px;
            overflow: hidden; 

        a {
            display: block;
            padding: 10px; 
            transition: all 0.3s ease; 
        }

        &:hover a {
            padding-left: 20px; 
            padding-right: 20px; 
        }
        }
    }

}


footer{
    background: linear-gradient(to left, $color-inicial, $color-final);
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
