/* propiedad = valor */
/* alt + shift + a */
/*  {} alt + 123 */


/* Estilos para pantallas con un ancho máximo de 768px */
@media (max-width: 500px) {
    
  }


/* Estilos para pantallas con un ancho entre 768px y 1024px */
@media (min-width: 768px) and (max-width: 1920px) {
   
}


body{
    background-color: #E6E6DD;
}


*{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}


body{
    background-color:#E6E6DD;
    color: #2B2B2B;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#inicio {
    font-size: 20px;
}



header{
    background-color: #f5b84f;
    color: #E6E6DD;
    border: 2px solid black;
    margin: 0px 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}


header img{
    display: inline;
    width: 15%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 7px;
}



main{
    text-align: center;
}



nav ul a {
    width: 100px;
    text-decoration: solid;
    text-align: center;
    color: #E6E6DD;
    background-color: #02021f;
    padding:10px 5px;
    border-right: 1px solid #7a5006;
    display:flex; 
}

nav ul a:hover {
    background-color: #7a5006;
}

li:last-child a{
    border-right: none;
}

section div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.favoritos{
    display: grid;
    /*columna de platos en pagina de inicio*/
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(4,100px);

    /* el row y column gap para espaciado */
    row-gap: 20px;
    column-gap: 20px;
}

.favoritos .favorito {
    font-size: 21px;
    text-align: center;
    padding: 5px;
    margin: 18px;
}

.pastel{
    grid-column: 1/3;
    grid-row: 1/4;
    border: 2px solid #2B2B2B;
}

.Pmasamorra{
    grid-column: 3/5;
    grid-row: 1/4;
    border: 2px solid #2B2B2B;
}

.vacuno{
    grid-column: 5/7;
    grid-row: 1/4;
    border: 2px solid #2B2B2B;
}


section.menú-comidas{
    text-align: center;
}

/*Zona navegable del menú*/

ul.menu {
    position: sticky;
    top: 100px;
}

ul.menu {
    width: 70%;
    list-style: none;
    margin: 0px 50px;
    padding: 0px 5px;
    border: 2px solid #2B2B2B;
    background-color: #f5b84f;
}

ul.menu li{
    border-bottom: 2px solid #2B2B2B;
}

ul.menu li:last-child {
    border-bottom: none;
}

ul.menu li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0;
    background-color: #f5b84f; 
}

li.menu li a:hover {
    background-color: #7a5006;
}

.menu{
    text-align: center;
    font-size: 15px;
}

/*Seccion de Menú*/

.menú-comidas{
    display: grid;  
    grid-template-columns: 140px 140px 170px 170px 100px 170px 170px 100px 170px 170px;
    grid-template-rows: 95px 95px repeat(18,120px);

    row-gap: 40px;
    column-gap: 40px;
}

.menú-comidas .comida .menu .empanada{
    font-size: 20px;
    padding: 5px;
}

.comida .empanada{ 
    text-align: center;
}

.menu{
    grid-column: 1/3;
    grid-row: 1/4;
}

.pastel-choclo{
    grid-column: 3/5;
    grid-row: 1/3;
    border: 2px solid #2B2B2B;
}

.carne-jugo{
    grid-column: 6/8;
    grid-row: 1/3;
    border: 2px solid #2B2B2B;
}

.cazuela-vacuno{
    grid-column: 9/11;
    grid-row: 1/3;
    border: 2px solid #2B2B2B;
}

.lasaña-bol{
    grid-column: 3/5;
    grid-row: 4/6;
    border: 2px solid #2B2B2B;
}

.riendas{
    grid-column: 6/8;
    grid-row: 4/6;
    border: 2px solid #2B2B2B;
}

.masamorra{
    grid-column: 9/11;
    grid-row: 4/6;
    border: 2px solid #2B2B2B;
}

.vegetariano{
    grid-column: 3/5;
    grid-row: 7/9;
    border: 2px solid #2B2B2B;
}

.pollo-jugo{
    grid-column: 6/8;
    grid-row: 7/9;
    border: 2px solid #2B2B2B;
}
.carbonada{
    grid-column: 9/11;
    grid-row: 7/9;
    border: 2px solid #2B2B2B;
}

/*Seccion empanadas*/

#titulo-empanadas{
    grid-column: 6/8;
    grid-row: 10/11;
    color: rgb(143, 2, 2);
    text-shadow: black;
    font-size: 35px;
    background-color: #f5b84f;
    border: 2px solid black;
}

.pino {
    grid-column: 3/5;
    grid-row: 11/13;
    border: 2px solid #2B2B2B;
}

.queso {
    grid-column: 6/8;
    grid-row: 11/13;
    border: 2px solid #2B2B2B;
}

.mechada-queso{
    grid-column: 9/11;
    grid-row: 11/13;
    border: 2px solid #2B2B2B;
}

.camaron-queso {
    grid-column: 3/5;
    grid-row: 14/16;
    border: 2px solid #2B2B2B;
}

.napolitana {
    grid-column: 6/8;
    grid-row: 14/16;
    border: 2px solid #2B2B2B;
}

.champiñon-queso{
    grid-column: 9/11;
    grid-row: 14/16;
    border: 2px solid #2B2B2B;
}

/*Seccion ensaladas*/

#titulo-ensaladas{
    grid-column: 6/8;
    grid-row: 17/18;
    color: rgb(143, 2, 2);
    text-shadow: black;
    font-size: 35px;
    background-color: #f5b84f;
    border: 2px solid black;
}

.tomates{
    grid-column: 3/5;
    grid-row: 18/20;
    border: 2px solid #2B2B2B;
}

.lechuga{
    grid-column: 6/8;
    grid-row: 18/20;
    border: 2px solid #2B2B2B;
}

.chilena{
    grid-column: 9/11;
    grid-row: 18/20;
    border: 2px solid #2B2B2B;
}

/*Fin Seccion Menu*/



main a{
    color: rgb(202, 38, 38);
}
main h1{
    text-align: center;
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
        color: rgb(143, 2, 2);
}
main h2{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;

}
main p iframe{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

footer p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
footer li{
    list-style: none;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
footer{
    background-color: #f5b84f;
    border: 2px solid black;
}