// variables

$color-inicial: #c2d30c;
$color-final: #6bbe0d;

.color-principal{
    background: linear-gradient(to left, $color-inicial, $color-final);
}

$color-menu-inicio: #ecfc07;
$color-menu-final: #07f513;

.color-menu{
    background: linear-gradient(to right, $color-menu-inicio, $color-menu-final);
}
